/* Banner Principal */
.banner {
  background-image: url(/imgs/Geek1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*filter: brightness(0.2);*/
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.banner > div > img {
  height: 60vh;
  padding: 15px;
}

.banner > div {
  margin-right: 5%;
  display: flex;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.banner-content > div > h1:first-child {
  font-size: 8rem;
}

.banner-content h1 {
  font-size: 4rem;
  font-family: "Lilita One", cursive;
  color: var(--yellow);
  padding: 20px;
  text-shadow: 0.2rem 0.2rem var(--blue), 0.4rem 0.4rem var(--pink);
}

.banner-content h1:last-child {
  font-size: 2rem;
}

.banner-content > div {
  display: flex;
}

#two-banner {
  position: absolute;
  font-size: 4rem;
  font-family: "Lilita One", cursive;
  color: var(--yellow);
  text-shadow: 0.1rem 0.1rem var(--blue), 0.2rem 0.2rem var(--pink);
  margin-top: -10px;
  margin-left: -10px;
}

@media (max-width: 900px) {
  .banner {
    height: 45vh;
    justify-content: center;
  }

  .banner > div > img {
    height: 38vh;
    align-self: center;
  }

  .banner > div {
    height: 40vh;
    margin-right: 0px;
  }

  .banner-content > div > h1:first-child {
    font-size: 2.5rem;
  }

  .banner-content h1 {
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 25px;
    text-shadow: 0.15rem 0.15rem var(--blue), 0.25rem 0.25rem var(--pink);
  }

  .banner-content h1:last-child {
    font-size: 1rem;
  }

  #two-banner {
    font-size: 1.5rem;
    margin-top: -7px;
    margin-left: -7px;
  }
}

@media (max-width: 400px) {
  .banner-content {
    padding: 0;
  }

  .banner-content > div > h1:first-child {
    font-size: 2rem;
  }

  .banner-content h1 {
    padding: 0px;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 25px;
    text-shadow: 0.15rem 0.15rem var(--blue), 0.25rem 0.25rem var(--pink);
  }

  .banner-content h1:last-child {
    font-size: 0.8rem;
  }

  #two-banner {
    font-size: 1rem;
    margin-top: -5px;
    margin-left: -5px;
  }
}

@media (max-height: 800px) and  (min-width: 600px) {
  .banner-content h1:first-child {
    font-size: 6rem;
  }

  .banner-content h1 {
    padding: 10px;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 25px;
    text-shadow: 0.15rem 0.15rem var(--blue), 0.25rem 0.25rem var(--pink);
  }

  .banner-content h1:last-child {
    font-size: 1.5rem;
  }
}

/* Sobre o Evento */
.about {
  width: 100%-4px;
  text-align: center;
  padding: 50px;
  background-color: var(--pink);
}

.about h1 {
  font-size: 2.3rem;
  padding-bottom: 15px;
  font-family: "Lilita One", cursive;
  color: var(--yellow);
  text-shadow: 3px 3px var(--purple);
  text-transform: uppercase;
}

.about > p {
  line-height: 2rem;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  color: var(--white);
}

/* ONGs */
.ONG-background {
  min-height: 350px;
  padding: 1rem;
  background-color: var(--dark-pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ONG-background > h1 {
  font-size: 3rem;
  font-family: "Lilita One", cursive;
  color: var(--yellow);
  text-shadow: 3px 3px var(--purple);
  text-transform: uppercase;
}

.ONG-imgs {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 85%;
}

.ONG-imgs > a > img {
  width: 11rem;
  height: 11rem;
  border-radius: 25px;
  transition: 0.5s;
}

.ONG-imgs > a > img:hover {
  transform:scale(1.1);
}

@media (max-width: 900px) {
  .ONG-background > h1 {
    margin-top: 1rem;
    font-size: 2.5rem;
  }

  .ONG-imgs > a > img {
    width: 7rem;
    height: 7rem;
  }

  .ONG-imgs > a > img:hover {
    transform: none;
  }
}

@media (max-width: 600px) {
  .ONG-background > h1 {
    font-size: 2rem;
  }

  .ONG-imgs > a > img {
    width: 6rem;
    height: 6rem;
  }
}

/* Contato */
.contact-geo {
  background-color: var(--pink);
  margin: 0 auto;
  width: 90%;
  height: 100%;
  transform: skew(10deg);
  display: flex;
  align-items: center;
  justify-content: center; 
}

.contact-background {
  background-image: url("/imgs/Geek1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.contact {
  width: 100%-4px;
  text-align: center;
  padding: 50px;
  transform: skew(-10deg);
}

.contact > h1 {
  font-size: 2.3rem;
  font-family: "Lilita One", cursive;
  color: var(--yellow);
  text-shadow: 3px 3px var(--purple);
  text-transform: uppercase;
}

.contact > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.contact > form > input,
.contact > form > textarea {
  max-width: 60vw;
  min-width: 60vw;
  border: 1px solid var(--light-pink);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  background-color: var(--light-pink);
}

.contact > form > textarea {
  max-height: 25vh;
  min-height: 25vh;
}

.contact > form > input::placeholder,
.contact > form > textarea::placeholder {
  color: var(--black-focus);
  text-align: start;
}

.contact > form > input:focus,
.contact > form > textarea:focus {
  outline: 1px solid var(--dark-pink);
}

.contact > form > label {
  color: var(--black);
}

#message {
  height: 12rem;
}

#message::placeholder {
  text-align: start;
}

.contact > form > input,
.contact > form > label,
.contact > form > button,
.contact > form > textarea {
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
}

.contact button {
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
}

@media (max-width: 900px) {
  .contact-geo {
    transform: skew(7deg);
  }

  .contact {
    transform: skew(-7deg);
  }
}

@media (max-width: 600px) {
  .contact-background {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-geo {
    width: 100%;
    height: 500px;
    transform: skew(0deg, 10deg);
  }

  .contact {
    transform: skew(0deg, -10deg);
  }

  .contact > form > input {
    font-size: 1.2rem;
  }

  #message {
    height: 8rem;
  }
}

@media (max-width: 400px) {
  .contact {
    padding: 0px;
  }
}

/* Como Chegar */
.arrive {
  width: 100%-4px;
  text-align: center;
  padding: 50px;
  background: linear-gradient(var(--yellow), var(--pink));
}

.arrive > h1 {
  font-size: 2.3rem;
  font-family: "Lilita One", cursive;
  color: var(--pink);
  text-shadow: 3px 3px var(--blue);
  text-transform: uppercase;
}

.arrive > p {
  line-height: 2rem;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  padding: 15px;
}

.map {
  margin: 10px;
  width: 100%;
}

/* Em Breve */
.back-gradient {
  width: 100%;
  min-height: 60vh;
  height: auto;
  background: linear-gradient(var(--pink), var(--yellow));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.back-pink {
  background: var(--pink);
}

.back-gradient > h1 {
  font-size: 6rem;
  font-family: "Lilita One", cursive;
  color: var(--yellow);
  text-shadow: 0.2rem 0.2rem var(--blue), 0.4rem 0.4rem var(--pink);
  text-align: center;
  margin-bottom: 15px;
}

.back-gradient > p {
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  color: var(--white);
  text-align: center;
}

@media (max-width: 600px) {
  .back-gradient > h1 {
    font-size: 3rem;
    margin-bottom: 15px;
  }

  .back-gradient {
    padding: 25px;
  }

  .back-gradient > p {
    font-size: 2rem;
  }
}

/* Galeria */
.gallery {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery > a > img {
  border: 10px solid var(--white);
  border-radius: 12px;
  box-shadow: 5px 5px var(--white);
}

.gallery > a {
  padding: 10px;
}

.gallery-imgh {
  width: 30rem;
  /*width: 25vw;*/
}

.gallery-imgv {
  height: 20rem;
  /*height: 33vh;*/
}

@media (max-width: 600px) {
  .gallery {
    padding: 10px;
  }

  .gallery-imgh {
    width: 15rem;
    /*width: 25vh;*/
  }

  .gallery-imgv {
    height: 10rem;
    /*height: 33vw;*/
  }
}

/* Páginas Internas*/
.about-attractions {
  width: 100%;
  text-align: center;
  padding: 50px 50px 25px 50px;
}

.about-attractions > h1 {
  font-size: 4rem;
  padding-bottom: 25px;
  font-family: "Lilita One", cursive;
  color: var(--yellow);
  text-shadow: 0.2rem 0.2rem var(--blue), 0.4rem 0.4rem var(--pink);
  text-transform: uppercase;
}

.about-attractions > p {
  line-height: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  color: var(--white);
  text-shadow: 1px 1px 1px #222;
} 

.about-attractions > p,
.about-attractions > a {
  word-wrap: break-word;
}

@media (max-width: 600px) {
  .about-attractions {
    padding: 25px 25px 15px 25px;
  }
  
  .about-attractions > h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 300px) {
  .about-attractions > h1 {
    font-size: 1.7rem;
  }
}

/* Fotos das Páginas */
.pages-photos{
  padding: 25px;
  width: 100%;
}

.photos{
  display:flex;
  flex-flow:row wrap;
}

.photo-set{
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:100%;
  padding: 50px;
  gap: 100px;
    flex-wrap: wrap;
}

.photo-image > img{
  max-height:75vh;
  max-width:30vw;
  border:10px solid var(--white);
  border-radius: 12px;;
  box-shadow:5px 5px var(--white);
}

@media (max-width: 1300px){
  .photos{
    flex-flow:column nowrap;
    align-items:center;
  }

  .photo-set{
    flex-flow:column nowrap;
    align-items:center;
    gap:50px;
    padding: 25px;
  }

  .photo-image > img{
    max-width: 70vw;
  }
}

/* Patrocinadores */

.sponsor-p > p > a {
  color: var(--purple);
}

.sponsor-p > p > a:active {
  color: var(--dark-pink)
}

/* Nova Galeria */
.container-gallery {
  position: relative;
  width: 60vw;
  border:10px solid var(--white);
  border-radius: 12px;;
  box-shadow:5px 5px var(--white);
  margin: 10px 0px;
}

/* Esconde as imagens por padrão */
.mySlides-css {
  display: none;
  margin-bottom: -3px;
}

.cursor {
  cursor: pointer;
}

.prev-gallery,
.next-gallery {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next-gallery {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev-gallery:hover,
.next-gallery:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container para o texto da imagem */
.caption-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #222;
  color: white;
  height: 50px;
  font-size: 1.5rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 11.11%;
  margin-bottom: -3px;
}

.demo-css {
  opacity: 0.6;
}

.active,
.demo-css:hover {
  opacity: 1;
}

.img-gallery {
  width: 100%;
  height: 100%;
}

.column2 {
  float: left;
  width: 14.28%;
  margin-bottom: -3px;
}

.column3 {
  float: left;
  width: 8.33%;
  margin-bottom: -3px;
}

.no-click {
  cursor: default;
}