/* Sobre o Evento */
.about {
  width: 100%-4px;
  text-align: center;
  padding: 50px;
  background-color: var(--pink);
}

.about h1 {
  font-size: 2.3rem;
  padding-bottom: 15px;
  font-family: "Lilita One", cursive;
  color: var(--yellow);
}

.about > p {
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  color: var(--white);
}

/* Contato */
.contact-geo {
  background-color: var(--pink);
  margin: 0 auto;
  width: 90%;
  height: 400px;
  transform: skew(10deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-background {
  background-image: url("/imgs/Geek1.jpg");
}

.contact {
  width: 100%-4px;
  text-align: center;
  padding: 25px;
  transform: skew(-10deg);
}

.contact > h1 {
  font-size: 2.3rem;
  font-family: "Lilita One", cursive;
  color: var(--yellow)
}

.contact > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.contact > form > input {
  width: 60vw;
  border: 1px solid var(--light-pink);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  background-color: var(--light-pink);
  color: var(--pink);
}

.contact > form > input::placeholder {
  color: var(--pink);
}

.contact > form > input:focus {
  outline: 1px solid var(--dark-pink);
}

.contact > form > label {
  color: var(--dark-pink);
}

.contact > form > input,
.contact > form > label,
.contact > form > button {
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
}

.contact button {
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
}

@media (max-width: 600px) {
  .contact-background {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-geo {
    width: 100%;
    transform: skew(0deg, 10deg);
  }

  .contact {
    transform: skew(0deg, -10deg);
  }

  .contact > form > input {
    font-size: 1.3rem;
  }
}

/* Como Chegar */
.arrive {
  width: 100%-4px;
  text-align: center;
  padding: 50px;
  background: linear-gradient(var(--yellow), var(--pink));
}

.arrive > h1 {
  font-size: 2.3rem;
  font-family: "Lilita One", cursive;
  color: var(--pink);
}

.arrive > p {
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  padding: 15px;
}

.arrive-img {
  display: flex;
  justify-content: space-around;
  padding: 0px 3vw 10px 3vw;
}

.arrive-img > img {
  width: 30vw;
}

.map {
  margin: 10px;
  width: 80%;
}

@media (max-width: 600px) {
  .arrive-img {
    flex-direction: column;
    align-items: center;
  }

  .arrive-img > img {
    padding: 5px;
    width: 60vw;
  }
}