/* Banner Principal */
.banner {
  background-image: url(/imgs/Geek2-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*filter: brightness(0.2);*/
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
}

.banner > img {
  height: 60vh;
  padding: 15px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.banner-content h1:first-child {
  font-size: 8rem;
}

.banner-content h1 {
  font-size: 4rem;
  font-family: "Lilita One", cursive;
  color: var(--yellow);
  padding: 25px;
  text-shadow: 0.2rem 0.2rem var(--blue), 0.4rem 0.4rem var(--pink);
}

.banner-content h1:last-child {
  font-size: 2rem;
}

@media (max-width: 900px) {
  .banner {
    height: 40vh;
  }

  .banner > img {
    height: 39vh;
    align-self: center;
  }

  .banner-content h1:first-child {
    font-size: 2.5rem;
  }

  .banner-content h1 {
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 25px;
    text-shadow: 0.15rem 0.15rem var(--blue), 0.25rem 0.25rem var(--pink);
  }

  .banner-content h1:last-child {
    font-size: 1rem;
  }
}

/* Sobre o Evento */
.about {
  width: 100%-4px;
  text-align: center;
  padding: 50px;
  background-color: var(--pink);
}

.about h1 {
  font-size: 2.3rem;
  padding-bottom: 15px;
  font-family: "Lilita One", cursive;
  color: var(--yellow);
}

.about > p {
  line-height: 1.7rem;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  color: var(--white);
}

/* Contato */
.contact-geo {
  background-color: var(--pink);
  margin: 0 auto;
  width: 90%;
  height: 400px;
  transform: skew(10deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-background {
  background-image: url("/imgs/Geek1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  width: 100%-4px;
  text-align: center;
  padding: 25px;
  transform: skew(-10deg);
}

.contact > h1 {
  font-size: 2.3rem;
  font-family: "Lilita One", cursive;
  color: var(--yellow)
}

.contact > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.contact > form > input {
  width: 60vw;
  border: 1px solid var(--light-pink);
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  background-color: var(--light-pink);
  color: var(--pink);
}

.contact > form > input::placeholder {
  color: var(--pink);
}

.contact > form > input:focus {
  outline: 1px solid var(--dark-pink);
}

.contact > form > label {
  color: var(--dark-pink);
}

.contact > form > input,
.contact > form > label,
.contact > form > button {
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
}

.contact button {
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
}

@media (max-width: 600px) {
  .contact-background {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-geo {
    width: 100%;
    transform: skew(0deg, 10deg);
  }

  .contact {
    transform: skew(0deg, -10deg);
  }

  .contact > form > input {
    font-size: 1.3rem;
  }
}

/* Como Chegar */
.arrive {
  width: 100%-4px;
  text-align: center;
  padding: 50px;
  background: linear-gradient(var(--yellow), var(--pink));
}

.arrive > h1 {
  font-size: 2.3rem;
  font-family: "Lilita One", cursive;
  color: var(--pink);
}

.arrive > p {
  line-height: 1.7rem;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  padding: 15px;
}

.map {
  margin: 10px;
  width: 100%;
}