.footer {
    background-color: var(--purple);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.footer > a,
.footer > div,
.footer > h1{
    padding: 10px;
}

.footer > h1 {
    color: white;
    font-size: 1.4rem;
    font-family: 'Lilita One', cursive;
}

.directors {
    display: flex;
    align-items: center;
    gap: 3rem;
}

a > .logo-sp {
    width: 18rem;
}

a > .logo-proac {
    width: 15rem;
}

a > .logo-if {
    width: 17rem;
}

.social-img {
    width: 7rem;
    padding: 0 25px;
}

@media (max-width: 900px) {
    .footer > h1 {
        font-size: 1.2rem;
    }

    .directors {
        flex-direction: column;
        gap: 1rem;
    }

    a > .logo-proac {
        width: 17rem;
    }
}