.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.5rem;
  padding: 1rem;
  flex-direction: column;
  background-color: var(--purple);
  z-index: 2;
  position: fixed;
  width: 100vw;
}

.header-back {
  width: 100%;
  height: 7.5rem;
}

/*.logo {
  width: 200px;
}*/

#two-logo {
  position: absolute;
  font-size: 1.8rem;
  font-family: "Lilita One", cursive;
  color: var(--yellow);
  text-shadow: 0.1rem 0.1rem var(--blue), 0.2rem 0.2rem var(--pink);
  margin-top: -10px;
  margin-left: -10px;
}

#logo {
  font-size: 3.6rem;
  font-family: "Lilita One", cursive;
  color: var(--yellow);
  padding-bottom: 0.3rem;
  text-shadow: 0.2rem 0.2rem var(--blue), 0.4rem 0.4rem var(--pink);
}

@media (max-width: 900px) {
  #two-logo {
    font-size: 1.3rem;
    margin-top: -5px;
    margin-left: -5px;
  }

  #logo {
    font-size: 3rem;
  }
}

/* Menu Principal */
.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  position: relative;
}

.menu > li {
  font-size: 1.5rem;
  display: block;
  padding: 0.5rem 0rem;
  text-align: center;
  width: 8rem;
}

.menu > li:last-child {
  width: 14rem;
}

.menu > li > label {
  cursor: pointer;
  user-select: none;
  font-family: "Lilita One", cursive;
  font-size: 1.2rem;
  color: var(--yellow);
}

.menu > li > label:hover,
.menu > li > input:checked ~ label {
  color: var(--white);
}

.menu a {
  font-family: "Lilita One", cursive;
  font-size: 1.2rem;
  color: var(--yellow);
}

.menu > li > svg {
  width: 2rem;
  transition: 0.5s;
  top: 5px;
  position: absolute;
}

.menu a:hover {
  color: var(--white);
}

.label-menu,
.checkbox {
  display: none;
}

/* Sub Menus */
.sub-menu {
  display: block;
  position: relative;
  text-align: center;
  top: 0.4rem;
  width: 9rem;
  height: 0;
  z-index: 1;
  visibility: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  background-color: var(--dark-purple);
}

.sub-menu > label {
  cursor: pointer;
}

.sub-menu > li {
  padding: 1rem 0;
  margin-inline: 1rem;
  border-radius: 0;
}

/* Sub Menu Oficina */
#checkbox-workshop:checked ~ .sub-menu {
  height: 30.5rem;
  visibility: visible;
  overflow-y: hidden;
}

#checkbox-workshop:checked ~ svg {
  transform: rotate(180deg);
}

/* Sub Menu Campeonato */
#checkbox-tournament:checked ~ .sub-menu {
  height: 16.5rem;
  visibility: visible;
  overflow-y: hidden;
}

#checkbox-tournament:checked ~ svg {
  transform: rotate(180deg);
}

/* Sub Menu Show */
#checkbox-show:checked ~ .sub-menu {
  height: 11.5rem;
  visibility: visible;
  overflow-y: hidden;
}

#checkbox-show:checked ~ svg {
  transform: rotate(180deg);
}

/* Sub Menu Sala de Jogos */
#checkbox-games:checked ~ .sub-menu {
  height: 22rem;
  visibility: visible;
  overflow-y: hidden;
}

#checkbox-games:checked ~ svg {
  transform: rotate(180deg);
}

@media (max-width: 950px) {
  .header {
    flex-direction: row;
    height: 5rem;
  }

  .header-back {
    height: 5rem;
  }

  .logo {
    width: 30vw;
  }

  /* Menu Principal */
  .menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    left: 0;
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 1;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    background-color: var(--dark-purple);
  }

  .menu > li {
    border-top: 0.0625rem;
    border-radius: 0;
    width: 100%;
  }

  .menu > li > svg {
    position: relative;
    top: 10px;
  }

  .menu a,
  .menu li label {
    font-size: 1.6rem;
  }

  .label-menu {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .hamburguer {
    border-top: 0.3rem solid var(--white);
    color: var(--white);
    width: 2rem;
  }

  .hamburguer::before,
  .hamburguer::after {
    border-top: 0.3rem solid var(--white);
    color: var(--white);
    content: " ";
    display: block;
    width: 2rem;
    height: 0.125rem;
    background: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;
  }

  #checkbox:checked ~ .menu {
    height: 50vh;
    visibility: visible;
    overflow-y: auto;
    background-color: var(--dark-purple);
  }

  #checkbox:checked ~ .label-menu .hamburguer {
    border-top-color: transparent;
  }

  #checkbox:checked ~ .label-menu .hamburguer::before {
    transform: rotate(135deg);
  }

  #checkbox:checked ~ .label-menu .hamburguer::after {
    transform: rotate(-135deg);
    top: -0.5375rem;
  }

  /* Sub Menu Oficina */
  #checkbox-workshop:checked ~ .sub-menu {
    height: 30rem;
  }

  /* Sub Menu Campeonato */
  #checkbox-tournament:checked ~ .sub-menu {
    height: 14.5rem;
  } 
  /* Sub Menu Show */
  #checkbox-show:checked ~ .sub-menu {
    height: 11rem;
  }

  /* Sub Menu Sala de Jogos */
  #checkbox-games:checked ~ .sub-menu {
    height: 22rem;
  }

  /* Sub Menu */
  .sub-menu {
    top: 0rem;
    position: relative;
    width: 100%;
  }

  .sub-menu > li {
    border-bottom: 0;
    background-color: var(--purple);
    margin: 0px;
  }

  .sub-menu > li:first-child {
    margin-top: 5px;
  }
}

@media (max-width: 600px){
  .logo {
    width: 45vw;
  }
}

@media (max-height: 600px) {
  .menu a,
  .menu li label {
    font-size: 1.3rem;
    padding: 0;
  }

  .menu {
    gap: 0;
  }

  .menu > li,
  .sub-menu {
    width: 8.7rem;
  }

  .menu > li {
    padding: 0rem 0.5rem;
  }

  .menu > li > svg {
    top: -3px;
  }

  .sub-menu {
      top: 1.7rem;
  }

  .sub-menu-games {
      top: 0.4rem;
  }

  .menu > li:last-child {
    width: 8rem;
  }
}