/*Slider Principal*/
.img-list > img {
    width: 770px;
}

.carousell {
    position: relative;
    height: 470px;
    overflow: hidden;
    background-color: red;
}

.carousell .img-list {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% * 5);
    height: 100%;
    transition: 500ms;
}

.carousell .img-list img {
    float: left;
    width: calc(100% / 5);
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousell .btn-section {
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    width: fit-content;
}

.carousell .caro-btn {
    width: 25px;
    height: 5px;
    margin: 0 4px;
    background-color: blue;
    transition: 300ms;
    cursor: pointer;
}

.carousell .caro-btn:first-child {
    background-color: blue;
}

.carousell .caro-btn:hover {
    background-color: green;
}

/*Slider Eventos*/
.img-list-event > img {
    width: 770px;
}

.carousell-event {
    position: relative;
    height: 400px;
    overflow: hidden;
    background-color: red;
}

.content-event {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.content-text-event {
    width: 40%;
}

.carousell-event .img-list-event {
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    transition: 500ms;
    display: flex;
}

.carousell-event .img-list-event img {
    float: left;
    width: 60%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousell-event .btn-section-event {
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    width: fit-content;
}

.carousell-event .caro-btn-event {
    width: 25px;
    height: 5px;
    margin: 0 4px;
    background-color: blue;
    transition: 300ms;
    cursor: pointer;
}

.carousell-event .caro-btn-event:first-child {
    background-color: blue;
}

.carousell-event .caro-btn-event:hover {
    background-color: green;
}

.prev,
.next {
    display: none;
}

@media (max-width: 600px) {
    .content-event {
        flex-direction: column-reverse;
        height: 85%;
    }

    .prev {
        display: block;
        position: absolute;
        color: white;
        top: 50%;
        left: 0;
        transform: rotate(90deg);
    }
    
    .next {
        display: block;
        position: absolute;
        color: white;
        top: 50%;
        right: 0;
        transform: rotate(-90deg);
    }
}
