@charset "UTF-8";

:root {
    --preto: #171717;
    --roxo: #9100FE;
    --ciano: #23f3e3;
    --verde: #66ff59;
    --rosa: #e3489d;
}

.Topo{
    background-color: black;
}
.Topo img{
    height: 50px;
}

.cabecalho{
    justify-content: space-between;
    display: flex;
    max-width: auto;
    padding: 20px;
}
#logogeek img{
	margin: auto;
	margin-left: 5%;
    height: 10vw;
    max-width: 100%;
}
#logoif img{
    height: 10vw;
    max-width: 100%;
}

.redes_sociais a{

    color: transparent;
    text-decoration:none;
    display: inline-block;
	
}

.redes_sociais img{
    width: 5vw;
    height: 70%;
	margin-top: 10px;
    padding-left: 30px;
}

.menu-content{
    background-color: #1717176b;
    padding: 10px;
    justify-content: space-evenly;
    display: flex;
    max-width: auto;
}
.menu-content a{
    text-decoration: none;
    color: var(--verde);
    font-family: 'Pixelada';
    font-size: 20px;
}
.menu-content a:hover{
    text-decoration:underline;
    color: var(--ciano);
}

#mob{
    display:none;

}

.navegacao-mobile {
    background: #000;
    padding: 10px;
    display: block;
    width: 100vw;
    cursor: pointer;
}
.linha-menu {
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background: #fff;
    margin: 4px;
    display: block;
}
.input-menu-all {
    display: none!important;
}
.list-menu {
    display: none;
    width: 100%;
    background: #000;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
}
.item-menu {
    flex: auto;
}
.item-menu .link-menu {
    padding: 15px;
    color: var(--verde);
    display: block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: 'Pixelada';
}
.input-menu-all:checked ~ .list-menu {
    display: block;
    
}
.input-menu-all:checked ~ .list-menu .link-menu  {
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 991px) {
    .menu-content {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        display: block;
        
    }
    .list-menu {
        display: flex!important;
        justify-content: space-between;
        width: 100%;
        background: #000;
        box-shadow: 2px 9px 49px -17px rgba(179, 179, 179, 0.3);
    }

    .item-menu {
        flex: auto;
    }
    .item-menu .link-menu {
        padding: 15px;
        display: block;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        font-family: 'Pixelada';
        font-size: 1.5em;
    }

    .item-menu .link-menu:hover {
        color: var(--ciano);
    }

    .navegacao-mobile {
        display: none!important;
    }
}
