@charset "UTF-8";

#atracoes{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
	margin: 0;
}

#atracoes > .flip{
    margin: 2% 1% ;
}

/*#atracoes > h2{
   font-family: 'FonteLogo';
}*/

.flip{
    background-color: transparent;
    width: 300px;
    height: 300px;
}
.flip-front img {
    width: 300px;
    height: 300px;
	border-radius: 10px;
	
}
.flip-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip:hover .flip-inner{
    transform: rotateY(180deg);
}
.flip-front, .flip-back{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
}
.flip-front{
    color: black;
    border: 2px solid #bbb;
    align-items: center;
    box-shadow: 0px 0px 11px 6px rgba(110, 110, 110, 0.575);
}
.flip-back{
    color: var(--verde);
    transform: rotateY(180deg);
    position: relative;
    border: 2px solid var(--preto);
    background-color: var(--preto);
    box-shadow: 1px 1px 10px 1px var(--preto);
}
.bg-image{
    width: 100%;
    height: 100%;
    background-image: url(src/imagens/example.jpg);
    background-size: cover;
    filter:blur(5px);
    border-radius: 10px;
}
.atr-text{
    position:absolute;
	text-align: justify;
    /*z-index:2;*/
}
.atr-text p{
    color: white;
    margin:0 5%;
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 1em;*/
}

.flip h2{
    font-family: 'pixelada';
    letter-spacing: 2px;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 3px 1px 3px var(--preto);
    margin:20px 0;
	
}

/*.flip-back h2{
    text-align: center;
    text-shadow: 3px 1px 3px var(--preto);
    margin:20px 0;
}*/

.flip-front h2{
    text-shadow: 1px 1px 5px grey;
}
/* ---------- --------- */

/* ---------- Parte Andrey -------- */
.slides{
    display: none;
}

.slides img{
    width: 100%;
    margin: auto;
	margin-top: 2%;
    display:block;
    /*border-radius: 0px;*/
}

.animation{
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
}

@media (max-width: 500px){
    #atracoes {
        padding: 0px;
    }
    #atracoes > .flip {
        margin: 4% 1% ;
    }
    .sub-titulo{
        font-size: 3em;
    }
}