@charset "UTF-8";
@font-face{
    font-family: 'Pixelada';
    src: url(src/fontes/upheavtt.ttf);
}
@font-face{
    font-family: 'FonteLogo';
    src: url(src/fontes/ArchivoBlack-Regular.ttf);
}
/* ---------- ---------- */

/* ------- Geral ------- */
:root {
    --preto: #171717;
    --roxo: #9100FE;
    --ciano: #23f3e3;
    --verde: #66ff59;
    --rosa: #e3489d;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
		background-image: url(src/imagens/Fundo-site6.jpg);
		background-attachment: fixed;
		background-repeat: no-repeat;
		/*background-size: 100%; */
		background-color: #000;
		width: 100%;
		height: 100%;
}
/* ---------- ---------- */

/* ---------- ---------- */


/* ---------- ---------- */

/* ---------- Parte do João Pedro ---------- */
.Topo{
    background-color: black;
}
.Topo img{
    height: 50px;
}

.cabecalho{
    justify-content: space-between;
    display: flex;
    max-width: auto;
    padding: 20px;
}
#logogeek img{
	margin: auto;
	margin-left: 5%;
	height: 120px;
  max-width: 100%;
  max-height: 100%;
}
#logoif img{
	max-width: 100%;
    max-height: 100%; 
	height: 130px;
	margin-right: 2%;
		margin-left: 10%;
}
.redes_sociais a{

    color: transparent;
    text-decoration:none;
    display: inline-block;
	
}
.redes_sociais img{
    width: 50%;
    height: 50%;
	margin-top: 10px;
    margin-left: 45%;

}

.menu-content{
    background-color: #1717176b;
    padding: 10px;
    justify-content: space-evenly;
    display: flex;
    max-width: auto;
}
.menu-content a{
    text-decoration: none;
    color: var(--verde);
    font-family: 'Pixelada';
    font-size: 20px;
    transition: 0.3s;
}
.menu-content a:hover{
    text-decoration:underline;
    color: var(--verde);
}

#mob{
    display:none;

}
/* ---------- ---------- */



/* ------- Parte do Correa ------- */
.sub-titulo {
    text-align: center;
    color: var(--verde);
    text-shadow: 3px 1px 3px var(--preto);
    font-size: 2em;
    font-family: 'FonteLogo';
}



/*Rodapé e patrocinadores*/
footer {
    padding: 10px 0px;
    background-color: black;
    justify-content: space-around;
    display: flex;
    align-items: center;
	
}
#copy {
    color: var(--roxo);
    font-family: 'Pixelada';
    margin: 10px 0;
	position:absolute;
}

.patrocinadores{
    background-color: ;
	margin-top: 2%;
	padding: 1%;
	font-family: 'Pixelada';
	color: var(--verde);
    text-shadow: 3px 1px 3px var(--preto);
    font-size: 24px;
    text-align:center;
}
.logospatrocinio img {
	margin:0;
	margin-left: 1%;
	margin-top: 2%;
	height: 130px;
	max-width: 100%;
	max-height: 100%;
	border-radius:5%;
}

/*contador de visitas*/
#sfce7uuzln5z85xmmueg2j66rybyd3mtxtz img{ 
	display: flex;
	position: relative; 
	margin-right: 0;
	padding-right:0;
}

/* ---------- ---------- */


/* ------- Parte do Gab ------- */
#atracoes{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 1% 4%;
	margin: 0;
	
	
}
#atracoes > .flip{
    margin: 2% 1% ;
}
#atracoes > h2{
   font-family: 'FonteLogo';
	
}
#sub_atracoes{
    background-color: ;
	margin-top: 2%;
	padding: 1%;
	font-family: 'Pixelada';
	font-size: 40px;
}

.flip{
    background-color: transparent;
    width: 300px;
    height: 300px;
}
.flip-front img {
	width: 300px;
    height: 300px;
	border-radius: 10px;
	
}
.flip-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip:hover .flip-inner{
    transform: rotateY(180deg);
}
.flip-front, .flip-back{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
}
.flip-front{
    color: black;
    border: 2px solid #bbb;
    align-items: center;
    box-shadow: 0px 0px 5px 7px #bbb;
}
.flip-back{
    color: var(--verde);
    transform: rotateY(180deg);
    position: relative;
    border: 2px solid var(--preto);
    background-color: var(--preto);
    box-shadow: 1px 1px 10px 1px var(--preto);
}
.bg-image{
    width: 100%;
    height: 100%;
    background-image: url(src/imagens/example.jpg);
    background-size: cover;
    filter:blur(5px);
    border-radius: 10px;
}
.atr-text{
    position:absolute;
	text-align: justify;
    z-index:2;
}
.atr-text p{
    color: white;
    margin:0 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.flip h2{
    font-family: 'FonteLogo';
    font-size:1.8em;
	
}
.flip-back h2{
    text-align: center;
    text-shadow: 3px 1px 3px var(--preto);
    margin:20px 0;
}

.flip-front h2{
    text-shadow: 1px 1px 5px grey;
}
/* ---------- --------- */

/* ---------- Parte Andrey -------- */
.slides{
    display: none;
}

.slides img{
    width: 100%;
    margin: auto;
	margin-top: 2%;
    display:block;
    border-radius: 0px;
}

.animation{
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade{
    from {opacity: .4;}
    to {opacity: 1;}
}

/* Menu responsivo */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 991px) {
  .menu-content {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .list-menu {
    display: flex!important;
    justify-content: space-between;
    width: 100%;
    background: #000;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
  }

  .item-menu {
    flex: auto;
  }
  .item-menu .link-menu {
    padding: 15px;
    color: #555;
    display: block;
    transition: .4s;
    cursor: pointer;
    text-align: center;
	text-decoration: none;
    
    font-family: 'Pixelada';
    font-size: 20px;
    transition: 0.3s;
  }

  .item-menu .link-menu:hover {

    color: var(--verde);
  }
  
  .navegacao-mobile {
    display: none!important;
  }
 }

.navegacao-mobile {
  background: #000;
  padding: 10px;
  display: block;
  width: 53px;
  cursor: pointer;
}
.linha-menu {
  width: 25px;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  margin: 4px;
  display: block;
}
.input-menu-all {
  display: none!important;
}
.list-menu {
   display: none;
   width: 100%;
   background: #000;
   box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
}
.item-menu {
    flex: auto;
  }
  .item-menu .link-menu {
    padding: 15px;
    color: var(--verde);
    display: block;
    transition: .4s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
	font-family: 'Pixelada';
  }
.input-menu-all:checked ~ .list-menu {
       display: block;
      
}
.input-menu-all:checked ~ .list-menu .link-menu  {
  text-align: left;
}

/* Container dos textos */
.container{
	background-color: #DCDCDC;
	max-width: 75em;
	margin-left:11%;
	margin-right:10%;
	align-items: center;
	padding: 2% 0 5% 0;
	border-radius: 5%;
	
}

.container p{
	text-align: justify;
	font-family: ;
	font-size: 18px;
	text-indent: 1.5em;
	margin: 2%;
	line-height: 1.6;
	
}

.comochegar {
	
	display: flex;
	justify-content: center;	
	
}
.campus img{
	max-width: 40%;
	margin: 1% 1% 2% 6%;
	border-radius:5%;
	
}

.palestrante img{

	max-width: 200px;
	max-height: 200px;
	margin: 2% 1% 2% 2%;
	border-radius:5%;
	float: left;
}

.container h2{
	text-align: center;
}

.container h3{
	margin-left: 2%;
}

.container ul li{
	margin-left: 3%;
	list-style-type: circle;
	list-style-position: inside;
	line-height: 1.6;
	font-size: 18px;
}
.container a:link, a:hover, a:visited{
	text-decoration: none;
	font-style:italic;
	font-weight:bold;
	color: black;
}