@charset "UTF-8";
@font-face{
    font-family: 'Pixelada';
    src: url(src/fontes/upheavtt.ttf);
}
@font-face{
    font-family: 'FonteLogo';
    src: url(src/fontes/ArchivoBlack-Regular.ttf);
}
/* ---------- ---------- */

/* ------- Geral ------- */
:root {
    --preto: #171717;
    --roxo: #9100FE;
    --ciano: #23f3e3;
    --verde: #66ff59;
    --rosa: #e3489d;
}
* {
    padding: 0;
    margin: 0;
}

body{
		background-image: url(src/imagens/Fundo-site6.jpg);
		background-attachment: fixed;
		background-repeat: no-repeat;
		/*background-size: 100%; */
		background-color: #000;
		width: 100%;
		height: 100%;
}

.sub-titulo {
    text-align: center;
    color: var(--verde);
    text-shadow: 3px 1px 3px var(--preto);
    font-size: 4em;
    font-family: 'pixelada';
    letter-spacing: 2px;
    margin-top: 50px;
}

/*Rodapé e patrocinadores*/
footer {
    padding: 2% 2%;
    background-color: black;
    justify-content: space-around;
    display: flex;
    align-items: center;
	margin-top:3%;
	
}
#copy {
    color: var(--roxo);
    font-family: 'Pixelada';
    margin: 10px 0;
	position:absolute;
}

.patrocinadores{
	padding: 1%;
    text-align:center;
}

.logospatrocinio img {
	margin:0;
	margin-left: 1%;
	margin-top: 1%;
	height: 130px;
	max-width: 100%;
	max-height: 100%;
	border-radius:5%;
}

/*contador de visitas*/
#contador{
	display: flex;
	position:absolute;
	right: 1%;
	padding-top: 1%;
}

#sfce7uuzln5z85xmmueg2j66rybyd3mtxtz img{ 
	display: flex;
	margin-right: 0;
	padding-right:0;
	position:absolute;
	right: 1%;
	padding-top: 1%;
}

/* ---------- ---------- */

/* Container dos textos */
.container{
	background-color: var(--preto);
	max-width: 75em;
	margin: auto;
	align-items: center;
	padding: 2% 2% 5% 0;
	border-radius: 2%;
}

.container p{
	text-align: justify;
	font-size: 18px;
	text-indent: 1.5em;
	margin: 2%;
	line-height: 1.6;
	color: white;
}

.comochegar {
	display: flex;
	justify-content: center;
	border-radius: 2%;	
}

.comochegar iframe {
	border-radius: 2%;
	box-shadow: 1px 1px 3px 3px rgb(187, 187, 187);
}
.campus img{
	max-width: 40%;
	margin: 1% 1% 2% 6%;
	border-radius:5%;
	
}

.palestrante img{
	max-width: 200px;
	max-height: 200px;
	margin: 2% 2% 1% 2%;
	border-radius:5%;
	float: left;
}

.container h2{
	text-align: center;
	color: var(--roxo);
}

.container h3{
	margin-left: 2%;
	color: var(--rosa);
}

.container ul li{
	margin-left: 3%;
	list-style-type: circle;
	list-style-position: inside;
	line-height: 1.6;
	font-size: 18px;
	color: white;
}

.container ol li{
	margin-left: 3%;
	list-style-position: inside;
	line-height: 1.6;
	font-size: 18px;
	color: white;
}

.container a:link, a:hover, a:visited{
	text-decoration: none;
	color: var(--roxo);
}

@media (max-width: 500px){
	footer {
		padding: 1% 1%;
		background-color: black;
		justify-content: space-around;
		display: flex;
		align-items: center;
		margin-top:3%;
		height: 100px;
	}
	#copy {
		color: var(--roxo);
		font-family: 'Pixelada';
		text-align: center;
	}
	#contador{
		display: flex;
		position:absolute;
		right: 35vw;
		padding-top: 15%;
	}
}