/* ---- Inscreva-se ------ */

.inscricao-geek {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    /*justify-items: center;*/
}
.inscricao-geek2 {
    position: absolute;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}

#titulo-cap {
    color: rgb(255 224 0);
    position: absolute;
    margin-top: 150px;
    font-size: 5em;
    font-family: 'FonteLogo';
    text-shadow: -3px 5px rgb(139 123 13);
}

#img-cap {
    width: 350px;
}

#botao-cap {
    position: absolute;
    padding: 15px 70px;
    margin-top: 280px;
    font-family: 'FonteLogo';
    border-radius: 20px;
    /*border-width: 0px;*/
    transition: 0.4s;
    background-color: white;
    text-decoration:none;
}

#botao-cap:hover {
    background-color: rgb(240, 8, 209);
    color: white;
    border: none;
    cursor: pointer;
}

.fundo-inc {
    position: absolute;
    background-image: url(src/imagens/fundo-cap.jpg);
    background-size: 50%;
    height: 228px;
    width: 100%;
    margin-top: 100px;
    box-shadow: 1px 10px 1px rgb(151, 8, 240);
}

/* ----------- ----------- */

@media (max-width: 800px) {

    .inscricao-geek { 
        position: relative; 
        margin-top: 30px; 
    } 
    
    #titulo-cap { 
        color: rgb(255 224 0);
        position: absolute; 
        margin-top: 148px;  
        font-size: 3em; 
        font-family: 'FonteLogo'; 
    } 
    
    #img-cap { 
        width: 300px;
    } 
    
    #botao-cap { 
        position: absolute; 
        padding: 15px 70px; 
        margin-top: 220px;  
        font-family: 'FonteLogo'; 
        border-radius: 20px; 
        border-width: 0px;
    } 
    
    .fundo-inc { 
        position: absolute; 
        background-image: url(src/imagens/fundo-cap.jpg); 
        background-size: 100%; 
        height: 200px; 
        width: 100%; 
        margin-top: 120px; 
        box-shadow: 1px 10px 1px rgb(151, 8, 240); }
    
    }