@charset "UTF-8";
@font-face{
    font-family: 'Pixelada';
    src: url(src/fontes/upheavtt.ttf);
}

:root {
    --preto: #171717;
    --roxo: #9100FE;
    --ciano: #23f3e3;
    --verde: #66ff59;
    --rosa: #e3489d;
}
* {
    padding: 0;
    margin: 0;
}

.logos{
    width: 40px;
}
header {
    height: 200px;
}
.patrocinadores {
    height: 200px;
}


/* ------- Parte do Correa ------- */
.sub-titulo {
    text-align: center;
    color: var(--verde);
    text-shadow: 3px 1px 3px #171717;
    font-size: 2em;
    font-family: 'Pixelada';
}

#copy {
    color: white;
}

footer {
    padding: 10px 0px;
    background-color: var(--roxo);
    justify-content: space-around;
    display: flex;
    align-items: center;
}
/* ---------- ---------- */


/* ------- Parte do Gab ------- */
#atracoes{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 40px 0px;
}
#atracoes > .flip{
    margin: 20px 0;
}
#atracoes > h2{
    width:100%;
    margin:10px 0;
}

.flip {
    background-color: transparent;
    width: 21.5%;
    height: 270px;
}
.flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip:hover .flip-inner {
    transform: rotateY(180deg);
}
.flip-front, .flip-back {
    width: 100%;
    height: 100%;
    padding:20px;
    border: 1px solid #bbb;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 1px grey;
    position: absolute;
    backface-visibility: hidden;
}
.flip-front {
    color: black;
}
.flip-back {
    color: #2980b9;
    transform: rotateY(180deg);
}

.flip h2{
    font-family: 'Pixelada';
}
/* ---------- --------- */