---
import MetaDados from "../components/header.astro";
import Cabecalho from "../components/head.astro";
import Rodape from "../components/footer.astro";
---
<MetaDados titulo="Em Breve | " />
<Cabecalho />
<body>
    <main class="later-main">
        <a class="retro-logo"><p class="retro-sub-title">3°</p><p class="retro-title">GEEK-IF</p></a>
        <div class="attractions-content">
            <p class="text-font">EM BREVE</p>
        </div>
    </main>
</body>
<Rodape />