---
import MetaDados from "../components/header.astro";
import Cabecalho from "../components/head.astro";
import Rodape from "../components/footer.astro";

// const allWorkshops = await Astro.glob('#');
// const allChampionship = await Astro.glob('#');
// const allStages = await Astro.glob('#');

//const filteredMembers = allMembers.filter((post) => post.frontmatter.status?.includes(status));

---
<MetaDados titulo="Cronograma | " />
<Cabecalho />
<body>
    <main class="timeline-main">
        <p class="text-font">Cronograma</p>
        <div class="div-cronograma">
            <div class="attractions-timeline-div">
                <div class="timeline-div" id="timeline-workshop">
                    <p class="text-font">OFICINAS</p>
                </div>
                <ul>
                    <li class="text-font">11:00h - Lightsaber - Sala A322</li>
                    <li class="text-font">13:00h - Escrita criativa - Sala A322</li>
                    <li class="text-font">10:00h - Desenho Victor Duarte: Infantil - Lab A</li>
                    <li class="text-font">13:00h - Desenho Victor Duarte: Adulto - Lab A</li>
                    <li class="text-font">11:00h - Cubo mágico - Lab A</li>
                    <li class="text-font">12:00h - Asas ao Vento: Construa seu avião - Lab A</li>
                    <li class="text-font">14:00h - Construção de cenas para HQs - Lab A</li>
                </ul>
            </div>
            <div class="attractions-timeline-div">
                
                <div class="timeline-div" id="timeline-tournament">
                    <p class="text-font">CAMPEONATOS</p>
                </div>
                <ul>
                    <li class="text-font">13:00h - Just Dance - Sala A321</li>
                    <li class="text-font">14:00h - Cubo mágico - Sala IV Bloco azul</li>
                    <li class="text-font">14:00h - Cospet - Palco</li>
                    <li class="text-font">14:15h - Cosplay infantil - Palco</li>
                    <li class="text-font">14:30h - Cosplay - Palco</li>
                    <li class="text-font">14:45h - Cospobre - Palco</li>
                </ul>
            </div>
            <div class="attractions-timeline-div">
                <div class="timeline-div" id="timeline-show">
                    <p class="text-font">SHOWS</p>
                </div>
                <ul>
                    <li class="text-font">11:00h - Abertura - Palco</li>
                    <li class="text-font">11:10h - Gustavo Tozzi - Apresentação de piano - Palco</li>
                    <li class="text-font">12:00h - Chapéu seletor do Harry Potter - Palco</li>
                    <li class="text-font">12:40h - Grupo de Dança Amor Eterno - Palco</li>
                    <li class="text-font">13:00h - Banda Meia Boca - Palco</li>
                    <li class="text-font">15:20h - Batepapo com Lucas Amorim - Palco</li>
                    <li class="text-font">16:30h - Banda Doutores do Rock - Palco</li>
                    <li class="text-font">14:25h - Premiação Cospet - Palco</li>
                    <li class="text-font">16:00h - Premiação dos campeonatos - Palco</li>
                </ul>
            </div>
            <div class="attractions-timeline-div">
                <div class="timeline-div" id="timeline-game">
                    <p class="text-font">SALAS</p>
                </div>
                <ul>
                    <li class="text-font">Funcionamento durante todo evento - RPG - Sala 402</li>
                    <li class="text-font">Funcionamento durante todo evento - Board Games - Sala 401</li>
                    <li class="text-font">Funcionamento durante todo evento - Card Games - Sala 401</li>
                </ul>
            </div>
        </div>
    </main>
</body>
<Rodape />