---
import MetaDados from "../components/header.astro";
import Cabecalho from "../components/head.astro";
import Rodape from "../components/footer.astro";

// const allWorkshops = await Astro.glob('#');
// const allChampionship = await Astro.glob('#');
// const allStages = await Astro.glob('#');

//const filteredMembers = allMembers.filter((post) => post.frontmatter.status?.includes(status));

---
<MetaDados titulo="Cronograma | " />
<Cabecalho />
<body>
    <main class="timeline-main">
        <p class="text-font">Cronograma</p>
        <div class="div-cronograma">
            <div class="attractions-div">
                <div class="timeline-div" id="timeline-workshop">
                    <p class="text-font">OFICINAS</p>
                </div>
                <ul>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                </ul>
            </div>
            <div class="attractions-div">
                <div class="timeline-div" id="timeline-tournament">
                    <p class="text-font">CAMPEONATOS</p>
                </div>
                <ul>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                </ul>
            </div>
            <div class="attractions-div">
                <div class="timeline-div" id="timeline-show">
                    <p class="text-font">SHOWS</p>
                </div>
                <ul>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                </ul>
            </div>
            <div class="attractions-div">
                <div class="timeline-div" id="timeline-game">
                    <p class="text-font">SALAS</p>
                </div>
                <ul>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                    <li class="text-font">14:00h - sla</li>
                </ul>
            </div>
        </div>
    </main>
</body>
<Rodape />