---
import MetaDados from "../components/header.astro";
import Cabecalho from "../components/head.astro";
import Rodape from "../components/footer.astro";
---

<html lang="pt-br">
    <MetaDados titulo="Atrações | "></MetaDados>
    <body>
        <Cabecalho></Cabecalho>
        <main>
            <!-- Banner Principal -->
            <section class="attractions-principal"></section>
            <!-- Oficinas -->
            <a name="oficinas"></a>
            <section>
                <p class="text-font attractions-title title-workshop">OFICINAS</p>
                <div class="attractions-container container-workshop">
                    <a class="attractions-div" href="/atracoes/escrita_criativa">
                        <figure>
                            <figcaption>Escrita criativa - José Augusto</figcaption>
                            <img src="./oficinas/jose-augusto.jpg">
                        </figure>
                    </a>
                    <a class="attractions-div" href="/atracoes/lightsaber">
                        <figure>
                            <figcaption>Lightsaber - Eddie Felix</figcaption>
                            <img src="./oficinas/Eddie-dojo de criatividade.jpeg">
                        </figure>
                    </a>
                    <a class="attractions-div" href="/atracoes/desenho">
                        <figure>
                            <figcaption>Desenho - Victor Duarte</figcaption>
                            <img src="./oficinas/victorduarte.jpg">
                        </figure>
                    </a>
                    <a class="attractions-div" href="https://www.instagram.com/universo.hbquadrinhos/">
                        <figure>
                            <figcaption>HB quadrinhos</figcaption>
                            <img src="./oficinas/Fabiano - HB quadrinhos.jpg">
                        </figure>
                    </a>
                    <a class="attractions-div" href="/atracoes/cubo_magico_oficina">
                        <figure>
                            <figcaption>Cubo mágico - Oficina</figcaption>
                            <img src="./oficinas/cubo_magico_oficina.webp" alt="">
                        </figure>
                    </a>
                    <a class="attractions-div" href="https://www.instagram.com/hapkidocontato/">
                        <figure>
                            <figcaption>Hapkido</figcaption>
                            <img src="./oficinas/Hapkido.jpg" alt="">
                        </figure>
                    </a>
                </div>
            </section>
            <!-- Campeonatos -->
            <a name="campeonatos"></a>
            <section>
                <p class="text-font attractions-title title-tournament">CAMPEONATOS</p>
                <div class="attractions-container container-tournament">
                    <a class="attractions-div" href="/atracoes/just_dance">
                        <figure>
                            <figcaption>Just Dance</figcaption>
                            <img src="./campeonatos/just-dance.jpg" alt="">
                        </figure>
                    </a>
                    <a class="attractions-div" href="/atracoes/cubo_magico_campeonato">
                        <figure>
                            <figcaption>Cubo mágico - Campeonato</figcaption>
                            <img src="./campeonatos/cubo_magico_campeonato.jpg" alt="">
                        </figure>
                    </a>
                    <a class="attractions-div" href="/atracoes/cosplay">
                        <figure>
                            <figcaption>Cosplay</figcaption>
                            <img src="./campeonatos/cosplay.jpg" alt="">
                        </figure>
                    </a>
                    <a class="attractions-div" href="/atracoes/cospobre">
                        <figure>
                            <figcaption>Cospobre</figcaption>
                            <img src="./campeonatos/Cospobre.JPG" alt="">
                        </figure>
                    </a>
                    <a class="attractions-div" href="/atracoes/cospet">
                        <figure>
                            <figcaption>Cospet</figcaption>
                            <img src="./campeonatos/cospet.webp" alt="">
                        </figure>
                    </a>
                    <a class="attractions-div" href="/atracoes/cosplay_infantil">
                        <figure>
                            <figcaption>Cosplay infantil</figcaption>
                            <img src="./campeonatos/Infantil Cosplay.jpg" alt="">
                        </figure>
                    </a>
                </div>
            </section>
            <!-- Shows -->
            <a name="shows"></a>
            <section>
                <p class="text-font attractions-title title-show">SHOWS E ATRAÇÕES</p>
                <div class="attractions-container container-show">
                    <a class="attractions-div" href="./atracoes/lucas_amorim">
                        <figure>
                            <figcaption>Batepapo com Lucas Amorim</figcaption>
                            <img src="./shows/lucas-amorim.webp" alt="">
                        </figure>
                    </a>
                    <a class="attractions-div" href="https://www.instagram.com/doutores.rock/">
                        <figure>
                            <figcaption>Doutores do rock</figcaption>
                            <img src="./shows/doutores do rock.jpg" alt="">
                        </figure>
                    </a>
                    <a class="attractions-div" href="https://www.instagram.com/bandameiaboca/">
                        <figure>
                            <figcaption>Banda meia boca</figcaption>
                            <img src="./shows/banda_meia_boca.jpg" alt="">
                        </figure>
                    </a>
                    <a class="attractions-div" href="https://www.instagram.com/lunna_quadros/">
                        <figure>
                            <figcaption>Chapéu seletor - Harry Potter</figcaption>
                            <img src="./shows/Chapeu_Harry-potter.jpg" alt="">
                        </figure>
                    </a>
                    <a class="attractions-div" href="https://www.instagram.com/wolfenrir.swordplay/">
                        <figure>
                            <figcaption>Swordplay Wolfenrir</figcaption>
                            <img src="./shows/Swordplay-Wolfenrir.jpg" alt="">
                        </figure>
                    </a>
                    <a class="attractions-div" href="./atracoes/gustavo_tozzi">
                        <figure>
                            <figcaption>Gustavo Tozzi - Piano</figcaption>
                            <img src="./shows/Gustavo Tozzi.jpeg" alt="">
                        </figure>
                    </a>
                    <a class="attractions-div" href="https://www.facebook.com/mdamoreterno">
                        <figure>
                            <figcaption>Ministério de dança Amor Eterno</figcaption>
                            <img src="./shows/dança amor eterno.jpg" alt="">
                        </figure>
                    </a>
                </div>
            </section>
            <!-- Salas -->
            <a name="salas"></a>
            <section>
                <p class="text-font attractions-title title-game">SALAS</p>
                <div class="attractions-container container-game">
                    <a class="attractions-div" href="https://www.instagram.com/rpgitapetininga/">
                        <figure>
                            <figcaption>RPG</figcaption>
                            <img src="./salas/RPG.jpg" alt="">
                        </figure>
                    </a>
                    <a class="attractions-div" href="https://www.instagram.com/tavernachaoseharmony/">
                        <figure>
                            <figcaption>Board games</figcaption>
                            <img src="./salas/board_games.jpeg" alt="">
                        </figure>
                    </a>
                    <a class="attractions-div" href="/breve">
                        <figure>
                            <figcaption>Card games</figcaption>
                            <img src="./salas/Card Game.jpg" alt="">
                        </figure>
                    </a>
                </div>
            </section>
            
        </main>
        <Rodape></Rodape>
    </body>
</html>