---
import MetaDados from "../components/header.astro";
import Cabecalho from "../components/head.astro";
import Rodape from "../components/footer.astro";
---

<html lang="pt-br">
    <MetaDados titulo="Atrações | "></MetaDados>
    <body>
        <Cabecalho></Cabecalho>
        <main>
            <!-- Banner Principal -->
            <section class="attractions-principal"></section>
            <!-- Oficinas -->
            <a name="oficinas"></a>
            <section>
                <p class="text-font attractions-title title-workshop">OFICINAS</p>
                <div class="attractions-container container-workshop">
                    <a class="attractions-div" href="/desenho">
                        <p class="text-font">DESENHO</p>
                        <img src="./convidado2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado2.png">
                    </a>
                </div>
            </section>
            <!-- Campeonatos -->
            <a name="campeonatos"></a>
            <section>
                <p class="text-font attractions-title title-tournament">CAMPEONATOS</p>
                <div class="attractions-container container-tournament">
                    <a class="attractions-div" href="/just_dance">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado1.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado1.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado1.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado1.png">
                    </a>
                </div>
            </section>
            <!-- Shows -->
            <a name="shows"></a>
            <section>
                <p class="text-font attractions-title title-show">SHOWS</p>
                <div class="attractions-container container-show">
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado3.png">
                    </a>
                    <a class="attractions-div" href="/meia_boca">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado3.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado3.png">
                    </a>
                </div>
            </section>
            <!-- Salas -->
            <a name="salas"></a>
            <section>
                <p class="text-font attractions-title title-game">SALAS</p>
                <div class="attractions-container container-game">
                    <a class="attractions-div" href="/rpg">
                        <p class="text-font">EM BREVE</p>
                        <img src="./sala2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./sala2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./sala2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./sala2.png">
                    </a>
                </div>
            </section>
        </main>
        <Rodape></Rodape>
    </body>
</html>