---
import MetaDados from "../components/header.astro";
import Cabecalho from "../components/head.astro";
import Rodape from "../components/footer.astro";
---

<html lang="pt-br">
    <MetaDados titulo="Atrações | "></MetaDados>
    <body>
        <Cabecalho></Cabecalho>
        <main>
            <!-- Banner Principal -->
            <section class="attractions-principal"></section>
            <!-- Oficinas -->
            <a name="oficinas"></a>
            <section>
                <p class="text-font attractions-title title-workshop">OFICINAS</p>
                <div class="attractions-container container-workshop">
                    <a class="attractions-div" href="/atracoes/escrita_criativa">
                        <p class="text-font">Escrita criativa - José Augusto</p>
                        <img src="./oficinas/jose-augusto.jpg">
                    </a>
                    <a class="attractions-div" href="/atracoes/lightsaber">
                        <p class="text-font">Lightsaber - Eddie Felix</p>
                        <img src="./oficinas/Eddie-dojo de criatividade.jpeg">
                    </a>
                    <a class="attractions-div" href="/atracoes/desenho">
                        <p class="text-font">Desenho - Victor Duarte</p>
                        <img src="./oficinas/victorduarte.jpg">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado2.png">
                    </a>
                </div>
            </section>
            <!-- Campeonatos -->
            <a name="campeonatos"></a>
            <section>
                <p class="text-font attractions-title title-tournament">CAMPEONATOS</p>
                <div class="attractions-container container-tournament">
                    <a class="attractions-div" href="/atracoes/just_dance">
                        <p class="text-font">Just Dance</p>
                        <img src="./campeonatos/just-dance.jpg">
                    </a>
                    <a class="attractions-div" href="/atracoes/cubo_magico">
                        <p class="text-font">Cubo mágico</p>
                        <img src="./campeonatos/cubo2.webp">
                    </a>
                    <a class="attractions-div" href="/atracoes/cosplay">
                        <p class="text-font">Cosplay</p>
                        <img src="./campeonatos/cosplay.jpg">
                    </a>
                    <a class="attractions-div" href="/atracoes/cospobre">
                        <p class="text-font">Cospobre</p>
                        <img src="./campeonatos/Cospobre.JPG">
                    </a>
                    <a class="attractions-div" href="/atracoes/cospet">
                        <p class="text-font">Cospet</p>
                        <img src="./campeonatos/cospet.webp">
                    </a>
                </div>
            </section>
            <!-- Shows -->
            <a name="shows"></a>
            <section>
                <p class="text-font attractions-title title-show">SHOWS</p>
                <div class="attractions-container container-show">
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado3.png">
                    </a>
                    <a class="attractions-div" href="/meia_boca">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado3.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./convidado3.png">
                    </a>
                </div>
            </section>
            <!-- Salas -->
            <a name="salas"></a>
            <section>
                <p class="text-font attractions-title title-game">SALAS</p>
                <div class="attractions-container container-game">
                    <a class="attractions-div" href="/rpg">
                        <p class="text-font">EM BREVE</p>
                        <img src="./sala2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./sala2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./sala2.png">
                    </a>
                    <a class="attractions-div">
                        <p class="text-font">EM BREVE</p>
                        <img src="./sala2.png">
                    </a>
                </div>
            </section>
        </main>
        <Rodape></Rodape>
    </body>
</html>