---
import MetaDados from "../components/header.astro";
import Cabecalho from "../components/head.astro";
import Rodape from "../components/footer.astro";
---
<MetaDados titulo="Nos Patrocine" />
<Cabecalho />
<body>
    <main class="back-partner">
        <div class="partner-main">
            <a class="retro-logo"><p class="retro-sub-title">3°</p><p class="retro-title">GEEK-IF</p></a>
            <div class="attractions-content">
                <p class="text-font">Seja um Apoiador!</p>
                <p class="text-font">O Geek-IF 3º edição é um evento cultural que será realizado no IFSP Campus Itapetininga, no dia 19 de outubro de 2024, das 10h às 20h, voltado ao público de todas as idades que gostam de música; desenho; dança; arte em geral que sejam relacionados a filmes de super heróis; ficção científica; animes; desenhos animados e revistas em quadrinhos. O evento está aberto a receber propostas de apoio de empresas privadas.</p>
                <p class="text-font">Os potenciais apoiadores das organizações sem fins lucrativos têm a oportunidade de contribuir por meio de:</p>
                <ul class="partner-list">
                    <li class="text-font">Apresentação Musical/Dança/Artes;</li>
                    <li class="text-font">Oferta de minicursos ou oficinas;</li>
                    <li class="text-font">Barracas de alimentação;</li>
                    <li class="text-font">Apoio com a alimentação da comissão organizadora;</li>
                    <li class="text-font">Ou outros itens que possam colaborar com a execução do evento.</li>
                </ul>
                <p class="text-font">Os potenciais apoiadores de organizações privadas têm a oportunidade de contribuir por meio de:</p>
                <ul class="partner-list">
                    <li class="text-font">Apresentação Musical/Dança/Artes;</li>
                    <li class="text-font">Banner 3x1: 4 unidades;Camisetas personalizadas do evento: 30 unidades;</li>
                    <li class="text-font">Coffee break: salgados e bebidas para 30 pessoas</li>
                    <li class="text-font">Contratação de Banda/Grupo/Artista;</li>
                    <li class="text-font">Cronômetro digital para campeonato de cubo mágico: 5 unidades;</li>
                    <li class="text-font">Cubo mágico: 30 unidades;</li>
                    <li class="text-font">Itens de papelaria e decoração;</li>
                    <li class="text-font">Locação de Mesa com 4 cadeiras: 30 conjuntos;</li>
                    <li class="text-font">Locação de brinquedos infláveis;</li>
                    <li class="text-font">Medalha: 40 unidades;</li>
                    <li class="text-font">Oficinas ou minicursos;</li>
                    <li class="text-font">Organização de campeonato;</li>
                    <li class="text-font">Organização de sala de jogos;</li>
                    <li class="text-font">Organização de sala temática;</li>
                    <li class="text-font">Premiação para o campeonato de Cosplay Adulto: 3 unidades;</li>
                    <li class="text-font">Premiação para o campeonato de Cospobre: 3 unidades;</li>
                    <li class="text-font">Premiação para o campeonato de Cosplay Pet: 3 unidades;</li>
                    <li class="text-font">Premiação para o campeonato de Cubo Mágico: 3 unidades;</li>
                    <li class="text-font">Premiação para o campeonato de Just Dance: 3 unidades;</li>
                    <li class="text-font">Serviços de filmagem;Serviços de fotografia;</li>
                    <li class="text-font">Troféu para os campeonatos: 5 unidades;</li>
                    <li class="text-font">Outros itens que possam colaborar com a execução do evento.</li>
                </ul>
                <p class="text-font">Ao apoiador será permitida a divulgação por meio de banner; faixa fornecida pelo apoiador; site da organização; além de espaço disponibilizado pela Comissão Organizadora no site do evento.</p>
                <p class="text-font">As propostas deverão ser encaminhadas via e-mail, mediante o preenchimento do Formulário de Apresentação de Proposta (Anexo I do Edital), para o endereço eletrônico geekif@ifsp.edu.br até as 23h59 do dia 09 de setembro de 2024, horário de Brasília. O resultado preliminar será divulgado até 13/09/2024 por meio do site do IFSP no endereço https://itp.ifsp.edu.br após às 19h (horário de Brasília). O e-mail também pode ser usado para envio de dúvidas à Comissão Organizadora do evento.</p>
                <ul class="partner-list">
                    <li class="text-font">Sobre o Geek-IF:</li>
                </ul>
                <p class="text-font">Com uma expectativa de público de aproximadamente 4.000 pessoas, o Geek-IF Itapetininga promete ser um dia memorável para todos os participantes, repleto de atividades culturais e oportunidades de interação. O intuito do evento é abrir espaço para que pessoas que têm interesse nessa temática possam se expressar e promover a cultura geek na cidade e região, através de um evento aberto e gratuito no qual haverá apresentações musicais; oficinas de desenho em quadrinhos; competições de fantasias; jogos de tabuleiro e etc. Além da popularização da cultura geek, o evento também terá um viés solidário buscando ajudar as instituições de caridade de Itapetininga, através de espaço para barracas; arrecadação de brinquedos e leite de caixinha, que serão repassados para instituições da cidade</p>
                <p class="text-font">Para mais informações, acesse o site geekif.com.br ou acesse os links abaixo para se informar sobre como participar da chamada pública.</p>
                <ul class="partner-list">
                    <a href="https://itp.ifsp.edu.br/index.php/component/content/article/17-ultimas-noticias/1234-chamada-publica-para-captacao-de-apoio-para-realizacao-do-geek-if">Chamada Pública para Empresas</a>
                    <a href="https://itp.ifsp.edu.br/index.php/component/content/article/17-ultimas-noticias/1235-chamada-publica-para-entidades-participarem-do-geek-if">Chamada Pública para ONGs</a>
                </ul>
            </div>
        </div>
    </main>
</body>
<Rodape />