---
import MetaDados from "../components/header.astro";
import Cabecalho from "../components/head.astro";
import Rodape from "../components/footer.astro";
---
<MetaDados titulo="Retrospectiva | " />
<Cabecalho />
<body>
    <section class="thumbnail-attractions retro-banner">
        <p class="text-font">RETROSPECTIVA</p>
    </section>
    <main class="retro-main">
        <div class="retro-card">
            <iframe src="https://www.youtube.com/embed/FngPvqy_ozU"></iframe>
            
            <div class="retro-sub-card">
                <p class="text-font">BANDA | GEEK-IF</p>
                <a href="https://www.youtube.com/watch?v=FngPvqy_ozU" class="text-font">ASSISTIR</a>
            </div>
        </div>
        <div class="retro-card">
            <iframe src="https://www.youtube.com/embed/8Jc-qAFqxS0"></iframe>
            <div class="retro-sub-card">
                <p class="text-font">COSPLAY | GEEK-IF</p>
                <a href="https://www.youtube.com/watch?v=8Jc-qAFqxS0" class="text-font">ASSISTIR</a>
            </div>
        </div>
        <div class="retro-card">
            <iframe src="https://www.youtube.com/embed/WUDQ5-OKT5g"></iframe>
            <div class="retro-sub-card">
                <p class="text-font">ATRAÇÕES | GEEK-IF</p>
                <a href="https://www.youtube.com/watch?v=WUDQ5-OKT5g" class="text-font">ASSISTIR</a>
            </div>
        </div>
        <div class="retro-card">
            <iframe src="https://www.youtube.com/embed/2dWQgjE9tKY"></iframe>
            <div class="retro-sub-card">
                <p class="text-font">APRESENTAÇÕES | GEEK-IF</p>
                <a href="https://www.youtube.com/watch?v=2dWQgjE9tKY" class="text-font">ASSISTIR</a>
            </div>
        </div>
    </main>
</body>
<Rodape />