---
import MetaDados from "../components/header.astro";
import Cabecalho from "../components/head.astro";
import Rodape from "../components/footer.astro";
---
<MetaDados titulo="Nos Patrocine" />
<Cabecalho />
<body>
    <main class="back-partner">
        <div class="partner-main">
            <a class="retro-logo"><p class="retro-sub-title">3°</p><p class="retro-title">GEEK-IF</p></a>
            <div class="attractions-content">
                <p class="text-font">Sobre o Geek-IF</p>
                <p class="text-font">O Geek-IF é um evento cultural pop voltado à temática geek. Esse conceito vem do inglês e caracteriza pessoas que gostam de videogames, ficção científica, histórias em quadrinhos, cinema, séries, jogos de tabuleiro e afins. O evento é aberto à comunidade e com entrada franca. Ele será realizado, em sua 3ª edição, no dia 19 de Outubro de 2024 das 10h às 18h, presencialmente nas dependências do Instituto Federal de São Paulo (IFSP) Campus Itapetininga, situado à Avenida João Olímpio de Oliveira, 1561, Vila Asem, Itapetininga/SP.</p>
                <p class="text-font">O objetivo geral do evento é a promoção da cultura geek em Itapetininga e Região. Especificamente, busca-se proporcionar um espaço para a interação sociocultural por meio de atividades de música, desenho, jogos de tabuleiro, pintura e dança à população</p>
            </div>
        </div>
    </main>
</body>
<Rodape />