<footer class="footer">
    <div>
        <p class="footer-logo">GEEK-IF</p>
        <p class="text-font footer-address">DIA DO MÊS DE 2024 - AV. JOÃO OLÍMPIO DE OLIVEIRA, 1561 - VILA ASEM. ITAPETININGA - SP, 18202-000</p>
        <div>
            <a href="https://www.facebook.com/ifspitape"><img class="footer-img" src="/Facebook-Icon.png" alt="Logo Tik Tok"></a>
            <a href="https://www.instagram.com/ifspitapetininga/"><img class="footer-img" src="/Instagram-Icon.png" alt="Logo Instagram"></a>
        </div>
    </div>
    <div>
        <p class="text-font footer-content">REALIZAÇÃO</p>
        <a href="https://itp.ifsp.edu.br"><img class="footer-img-logo" src="/instituto_federal.png" alt="Logo do Instituto Federal"></a>
    </div>
    <div>
        <p class="text-font footer-content">APOIO</p>
    </div>
    <div>
        <p class="text-font footer-content">PATROCÍNIO</p>
    </div>
    <p class="text-font footer-content">TODOS OS DIREITOS RESERVADOS ©️ GEEK-IF</p>
</footer>