<footer class="footer">
    <div>
        <p class="footer-logo">GEEK-IF</p>
        <p class="text-font footer-address">DIA 19 DE OUTUBRO DE 2024 - AV. JOÃO OLÍMPIO DE OLIVEIRA, 1561 - VILA ASEM. ITAPETININGA - SP, 18202-000</p>
        <div>
            <a href="https://www.facebook.com/ifspitape"><img class="footer-img" src="/Facebook-Icon.png" alt="Logo Tik Tok"></a>
            <a href="https://www.instagram.com/ifspitapetininga/"><img class="footer-img" src="/Instagram-Icon.png" alt="Logo Instagram"></a>
        </div>
    </div>
    <div>
        <p class="text-font footer-content">REALIZAÇÃO</p>
        <div>
            <a href="https://itp.ifsp.edu.br"><img class="footer-img-logo" src="/instituto_federal.png" alt="Logo do Instituto Federal"></a>
            <a href="#"><img class="footer-img-logo" src="/orgRpg.jpeg" alt="Logo Rpg"></a>
        </div>
    </div>
    <div>
        <p class="text-font footer-content">APOIO</p>
        <div class="footer-content">
            <div class="slider">
                <div class="slide-track">
                  <div class="slide">
                    <a href="https://www.instagram.com/buonoacaitape/"><img class="footer-img-logo" src="/Logos/alimentacao/Buono.JPG"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/cesim2001/"><img class="footer-img-logo" src="/Logos/alimentacao/Cesim.jpg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/doceria_de_mae/"><img class="footer-img-logo" src="/Logos/alimentacao/Confeitaria doceria de mãe.jpg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/fadeca.delicias_caseiras/"><img class="footer-img-logo" src="/Logos/alimentacao/Fadeca.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/instituto_geracao/"><img class="footer-img-logo" src="/Logos/alimentacao/LOGO INSTITUTO GERAÇÃO SIMPLES - (1ª RETIFICAÇÃO).jpg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/sexta.e.nois/"><img class="footer-img-logo" src="/Logos/alimentacao/MarcaSextaÉNois.jpg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/miadottyitapetininga/"><img class="footer-img-logo" src="/Logos/alimentacao/Mia Dotty.jpg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/instituicao_nossolar/"><img class="footer-img-logo" src="/Logos/alimentacao/Nosso Lar.jpg"/></a>
                  </div>
                  <div class="slide">
                    <a href="#"><img class="footer-img-logo" src="/Logos/alimentacao/Sociedade São Vicente de Paulo.jpg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/sos.itapetininga/"><img class="footer-img-logo" src="/Logos/alimentacao/sos.jpg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/altaforja.3d/"><img class="footer-img-logo" src="/Logos/empresas/Altaforja.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.animefastore.com.br"><img class="footer-img-logo" src="/Logos/empresas/Animefã store.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/b.e.a.tattoo/"><img class="footer-img-logo" src="/Logos/empresas/Bea tattoo.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/bemboapresentes/"><img class="footer-img-logo" src="/Logos/empresas/Bem boa.PNG"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/danielproencapsi/"><img class="footer-img-logo" src="/Logos/empresas/Daniel - Rpg Terapia.jpg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/diverticaoitape/"><img class="footer-img-logo" src="/Logos/empresas/Diverticao.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/espaco_avispon/"><img class="footer-img-logo" src="/Logos/empresas/ESPACO AVISPON.jpg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/fisbrink_itp/"><img class="footer-img-logo" src="/Logos/empresas/fisbrink.jpg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/fotografias.feh/"><img class="footer-img-logo" src="/Logos/empresas/Fotografias-feh.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/lojageekse/"><img class="footer-img-logo" src="/Logos/empresas/Geekse.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/hapkidocontato/"><img class="footer-img-logo" src="/Logos/empresas/hapkido.png"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/universo.hbquadrinhos/"><img class="footer-img-logo" src="/Logos/empresas/HB quadrinhos.png"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/kawaiirumi/"><img class="footer-img-logo" src="/Logos/empresas/Kawaiirumi.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/maluartmaria/"><img class="footer-img-logo" src="/Logos/empresas/MaluarteMaria.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/lunna_quadros/"><img class="footer-img-logo" src="/Logos/empresas/Luna Quadros.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/oficinapopmaker/"><img class="footer-img-logo" src="/Logos/empresas/OFICINA POP MAKER.jpg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/sandrogomeseventos/"><img class="footer-img-logo" src="/Logos/empresas/Sandro Gomes.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/saomateusagro/"><img class="footer-img-logo" src="/Logos/empresas/São Mateus Agro.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/stargeek0/"><img class="footer-img-logo" src="/Logos/empresas/Star Geek.jpg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/tavernachaoseharmony/"><img class="footer-img-logo" src="/Logos/empresas/Taverna Chaos e Harmony.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/tradushirts/"><img class="footer-img-logo" src="/Logos/empresas/Tradushirts.png" style="background-color: white;"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/tresvassouras_artesanato/"><img class="footer-img-logo" src="/Logos/empresas/Três vassouras.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/victorduartestudio/"><img class="footer-img-logo" src="/Logos/empresas/victor.png"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/wolfenrir.swordplay/"><img class="footer-img-logo" src="/Logos/empresas/Wolfenrir.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="#"><img class="footer-img-logo" src="/Logos/empresas/Maria das artes.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/Smartestagio/"><img class="footer-img-logo" src="/Logos/empresas/Smart estágio.jpeg"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/mercadomirandaitape/"><img class="footer-img-logo" src="/Logos/empresas/Miranda.jpg"/></a>
                  </div>
                  <div class="slide">
                    <a href="dojodecriatividade.com.br"><img class="footer-img-logo" src="/Logos/empresas/Dojo de Criatividade4.png" style="background-color: white;"/></a>
                  </div>
                  <div class="slide">
                    <a href="https://www.instagram.com/anhanguera_itapetininga/"><img class="footer-img-logo" src="/Logos/empresas/Anhanguera.jpeg"/></a>
                  </div>
                </div>
              </div> 
        </div>
    </div>
    <div>
        <p class="text-font footer-content">PATROCÍNIO</p>
    </div>
    <p class="text-font footer-content">TODOS OS DIREITOS RESERVADOS ©️ GEEK-IF</p>
</footer>