.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey);
    align-items: center;
    padding: 0.8rem;
}

.footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content,
.footer-address,
.footer-logo {
    color: var(--white);
    letter-spacing: 1px;
    font-weight: 600;
    padding-block: 0.4rem;
    padding-inline: 0.4rem;
    cursor: default;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.footer-address{
    font-weight: 300;
    cursor: text;
}

.footer-logo {
    font-family: 'Lilita One', cursive;
    font-size: 2.7rem;
}

.footer-img {
    height: 50px;
    margin: 10px;
}

.footer-img-logo {
    height: 75px;
}

@-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
      transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
      transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: pr;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1800px;
}

@media (max-width: 999px) {
    .slider {
        background: pr;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 800px;
    }
}

.slider::before,
.slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 39);
}

.slider .slide {
    padding: 3PX;
}
  