/* Slider Atrações*/
.slider-attractions {
    width: 90vw;
    overflow-x: hidden;
    position: relative;
    height: 60vh;
}

.slider-attractions > i {
    width: 50px;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    opacity: 0.7;
    z-index: 1;
}

.slider-attractions > i:last-child {
    right: 0;
}

.slider-attractions > i:hover {
    opacity: 0.9;
}

.carousel-attractions {
    position: absolute;
    display: flex;
    width: calc(100%/4);
    gap: 1.4vw;
    transition: 0.5s;
}

.slider-img {
    width: calc(86vw/4);
}

.move-attractions-1 {
    left: 0vw;
}

.move-attractions-2 {
    left: -23vw;
}

.move-attractions-3 {
    left: -46vw;
}

.move-attractions-4 {
    left: -69vw;
}

.move-attractions-5 {
    left: -92vw;
}

.move-attractions-6 {
    left: -115vw;
}

.move-attractions-7 {
    left: -138vw;
}

@media (max-width: 1280px) {
    .slider-attractions {
        height: 68vh;
    }

    .carousel-attractions {
        width: calc(100%/3);
        gap: 1.2vw;
    }

    .slider-attractions > i {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    
    .slider-img {
        width: calc(87vw/3);
        height: 100%;
    }

    .move-attractions-1 {
        left: 0vw;
    }
    
    .move-attractions-2 {
        left: -30vw;
    }
    
    .move-attractions-3 {
        left: -60vw;
    }
    
    .move-attractions-4 {
        left: -90vw;
    }
    
    .move-attractions-5 {
        left: -120vw;
    }

    .move-attractions-6 {
        left: -150vw;
    }

    .move-attractions-7 {
        left: -180vw;
    }
}

@media (max-width: 999px) {
    .slider-attractions {
        height: 28vh;
    }

    .carousel-attractions {
        width: calc(100%/2);
        gap: 2.3vw;
    }
    
    .slider-img {
        width: calc(86vw/2);
    }

    .move-attractions-1 {
        left: 0vw;
    }
    
    .move-attractions-2 {
        left: -45vw;
    }
    
    .move-attractions-3 {
        left: -90vw;
    }
    
    .move-attractions-4 {
        left: -135vw;
    }
    
    .move-attractions-5 {
        left: -180vw;
    }

    .move-attractions-6 {
        left: -225vw;
    }

    .move-attractions-7 {
        left: -270vw;
    }
}

/* Slider Games */
.slider-games {
    width: 90vw;
    overflow-x: hidden;
    position: relative;
    height: 60vh;
}

.slider-games > i {
    width: 50px;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    opacity: 0.7;
    z-index: 1;
}

.slider-games > i:last-child {
    right: 0;
}

.slider-games > i:hover {
    opacity: 0.9;
}

.carousel-games {
    position: absolute;
    display: flex;
    width: calc(100%/4);
    gap: 1.4vw;
    transition: 0.5s;
}

.move-games-1 {
    left: 0vw;
}

.move-games-2 {
    left: -23vw;
}

.move-games-3 {
    left: -46vw;
}

.move-games-4 {
    left: -69vw;
}

.move-games-5 {
    left: -92vw;
}

.move-games-6 {
    left: -115vw;
}

.move-games-7 {
    left: -138vw;
}

@media (max-width: 1280px) {
    .slider-games {
        height: 68vh;
    }

    .carousel-games {
        width: calc(100%/3);
        gap: 1.2vw;
    }

    .slider-games > i {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .move-games-1 {
        left: 0vw;
    }
    
    .move-games-2 {
        left: -30vw;
    }
    
    .move-games-3 {
        left: -60vw;
    }
    
    .move-games-4 {
        left: -90vw;
    }
    
    .move-games-5 {
        left: -120vw;
    }

    .move-games-6 {
        left: -150vw;
    }

    .move-games-7 {
        left: -180vw;
    }
}

@media (max-width: 999px) {
    .slider-games {
        height: 28vh;
    }

    .carousel-games {
        width: calc(100%/2);
        gap: 2.3vw;
    }

    .move-games-1 {
        left: 0vw;
    }
    
    .move-games-2 {
        left: -45vw;
    }
    
    .move-games-3 {
        left: -90vw;
    }
    
    .move-games-4 {
        left: -135vw;
    }
    
    .move-games-5 {
        left: -180vw;
    }

    .move-games-6 {
        left: -225vw;
    }

    .move-games-7 {
        left: -270vw;
    }
}